@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url("../globalStyles.css");
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    font-family: 'Mulish';
}

/*INDEX----------*/
.title-carcereiro{
    padding: 0.5em 0em;
    margin: none;
    display: flex;
    background-color: #3CC47C;
    height: 4em;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #104228;
}
.title-carcereiro h1{
    display: flex;
    text-align: center;
    justify-content: center;
}
.box-dados-carc{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
.box-all{
    align-items: center ;
    width: 285px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .8rem;
}
.dados-carc{
    display: flex;
    flex-direction: column;
    min-width: 280px;
    text-align: left;
    padding: 1em 0.5em;
}
.dados-carc p{
    margin-bottom: 2em;
}
.dados-carc a{
    justify-content: center;
}
.centro{
    color: var(--black);
    display: flex;
    justify-content: center;
    border: 2px solid var(--primaryVariant);
    background-color: var(--withe);
    border-radius: .6rem;
    margin-bottom: 0.5em;
    box-shadow: 0 0 8px var(--blackOpacity);
}
.labels{
    font-weight: bold;
    font-size: 1.1em;
}
.email{
    word-break: break-all;
}
.ops-carc a{
    background-color: rgb(199, 199, 199);
    border: solid 1px gray;
    color: black;
    padding: 3px;
    transition: 200ms;
    text-decoration: none;
    font-family: Open Sans;
    font-weight: bold;
    border-radius: 5px;
}
.ops-carc a:hover{
    background-color: rgb(206, 206, 206);
}
.linha{
    text-decoration: underline;
}
.links{
    display: flex;
    flex-direction: column;
}
.add{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em 0em;
}
.add a{
    border: solid 1px rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(209, 209, 209);
    color: black;
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
}
.add a:hover{
    border: solid 1px rgb(165, 165, 165);
    box-shadow: rgb(197, 197, 197) 3px 3px 3px ;
}

/*editCarc----------*/
.box-edit-carc{
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
}
.box-edit{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
}
.edit-carc{
    display: flex;
    flex-direction: column;
    min-width: 280px;
    text-align: left;
    padding: 1em 1em;
}
.edit-carc p{
    margin-bottom: 2em;
}
.edit-carc a{
    justify-content: center;
}
.centro-edit{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 2em;
}
.centro-edit input{
    height: 2.5em;
    border-radius: 5px;
    border: gray 1px solid;
    margin-bottom: 2em;
    padding: 0px 5px;
    font-family: Open Sans;
    font-weight: bold;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.botaoCad{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.botaoCad button{
    width: 7em;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #3d9db3;
    border: solid 1px rgb(22, 85, 128);
    color: white;
    height: 2em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: Open Sans;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
}
.botaoCad button:hover{
    background: #61acbd;
    border: solid 1px #4b8592;
}
.botaoCad a{  
    width: 7em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #b33d3d;
    border: solid 1px rgb(128, 22, 22);
    color: white;
    height: 2em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: Open Sans;
    cursor: pointer;
    border-radius: 5px;
}
.botaoCad a:hover{
    background: #bd6161;
    border: solid 1px #924b4b;
}

/*cadastrarCarc----------*/
.botaoCad input{
    width: 7em;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #3d9db3;
    border: solid 1px rgb(22, 85, 128);
    color: white;
    height: 2em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: Open Sans;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
}
.botaoCad input:hover{
    background: #61acbd;
    border: solid 1px #4b8592;
}