@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url("../globalStyles.css");
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    font-family: 'Mulish';
}

/*INDEX/listarCarc----------*/
.title-carcereiro{
    padding: 0.5em 0em;
    margin: none;
    display: flex;
    background-color: #3CC47C;
    height: 4em;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #104228;
}
.title-carcereiro h1{
    display: flex;
    text-align: center;
    justify-content: center;
}
.box-dados-carc{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
.box-all{
    align-items: center ;
    width: 285px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .8rem;
}
.dados-carc{
    display: flex;
    flex-direction: column;
    min-width: 280px;
    text-align: left;
    padding: 1em 0.5em;
}
.dados-carc p{
    margin-bottom: 2em;
}
.dados-carc a{
    justify-content: center;
}
.centro{
    color: var(--black);
    display: flex;
    justify-content: center;
    border: 2px solid var(--primaryVariant);
    background-color: var(--withe);
    border-radius: .6rem;
    margin-bottom: 0.5em;
    box-shadow: 8px 8px 8px var(--blackOpacity);
}
.labels{
    font-weight: bold;
    font-size: 1.1em;
}
.email{
    word-break: break-all;
}
.ops-carc{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ops-carc a{
    width: 30%;
    background-color: rgb(228, 228, 228);
    border: solid 1px rgb(199, 199, 199);
    color: black;
    padding: 3px;
    transition: 200ms;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin: 0em 0.5em;
    
}
.edit:hover{
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(170, 224, 163);
}
.demit:hover{
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(224, 163, 163);
}
.linha{
    text-decoration: underline;
}
.links{
    display: flex;
    flex-direction: column;
}
.add{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em 0em;
}
.add a{
    border: solid 1px rgb(255, 255, 255);
    text-align: center;
    background-color: var(--green);
    color: #fafafafa;
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
}
.add a:hover{
    border: solid 1px var(--primaryVariant);
    box-shadow: var(--blackOpacity) 3px 3px 3px ;
}
.balls{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
}
.balls p{
    margin: 0;
}
.ball-ativo{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgb(2, 190, 27);
    margin-right: 0.3em;
}
.ball-inativo{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgb(221, 0, 0);
    margin-right: 0.3em;
}

/*editCarc----------*/
.box-edit-carc{
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
}
.box-edit{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
}
.edit-carc{
    display: flex;
    flex-direction: column;
    min-width: 280px;
    text-align: left;
    padding: 1em 1em;
}
.edit-carc p{
    margin-bottom: 2em;
}
.edit-carc a{
    justify-content: center;
}
.centro-edit{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 2em;
}
.centro-edit input{
    height: 2.5em;
    border-radius: 5px;
    border: gray 1px solid;
    margin-bottom: 2em;
    padding: 0px 5px;
    font-family: Open Sans;
    font-weight: bold;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.botaoCad{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.botaoCad button{
    width: 7em;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(228, 228, 228);
    border: solid 1px rgb(199, 199, 199);
    color: black;
    height: 2em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: Open Sans, sans-serif;
}
.botaoCad button:hover{
    background: #83bcce;
    border: solid 1px #638d97;
}
.botaoCad a{  
    width: 7em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(228, 228, 228);
    border: solid 1px rgb(199, 199, 199);
    color: black;
    height: 2em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-family: Open Sans, sans-serif;
}
.botaoCad a:hover{
    background: #cf7979;
    border: solid 1px #965d5d;
}
.edit-carc select{
    height: 2.7em;
    border-radius: 5px;
    -webkit-appearance: none;
    padding: 0px 5px;
    font-family: Open Sans;
    font-weight: bold;
}

/*cadastrarCarc----------*/
.botaoCad input{
    width: 7em;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(228, 228, 228);
    border: solid 1px rgb(199, 199, 199);
    color: black;
    height: 2em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
}
.botaoCad input:hover{
    background: #83bcce;
    border: solid 1px #638d97;
}
