@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    font-family: Open Sans;
}
.title-carcereiro h1{
    display: flex;
    text-align: center;
    justify-content: center;
}
.box-dados-carc{
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
}
.box-all{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
}
.dados-carc{
    display: flex;
    flex-direction: column;
    min-width: 280px;
    text-align: left;
    padding: 1em 0.5em;
}
.dados-carc p{
    margin-bottom: 2em;
}
.dados-carc a{
    justify-content: center;
}
.centro{
    display: flex;
    justify-content: center;

    
    border: solid 1px rgb(97, 97, 97);
    background-color: #e7e7e7;
    border-radius: 5px;
    margin-bottom: 2em;
}
.labels{
    font-weight: bold;
    font-size: 1.1em;
}
.email{
    word-break: break-all;
}
.ops-carc a{
    background-color: rgb(199, 199, 199);
    border: solid 1px gray;
    color: black;
    padding: 3px;
    transition: 200ms;
    text-decoration: none;
    font-family: Open Sans;
    font-weight: bold;
    border-radius: 5px;
}
.ops-carc a:hover{
    background-color: rgb(206, 206, 206);
}
.linha{
    text-decoration: underline;
}

.links{
    display: flex;
    flex-direction: column;
}

.add{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em 0em;
    
}

.add a{
    border: solid 1px rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(209, 209, 209);
    color: black;
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
}
.add a:hover{
    border: solid 1px rgb(165, 165, 165);
    
    box-shadow: rgb(197, 197, 197) 3px 3px 3px ;
}
