*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divTitulo{
    text-align: center;
}

.titulo{
    margin: 10px;
    font-size: 50px;
}

.divform{
    align-items: center;
}

.formCad{

}

label{
    margin-left: 10px;
    font-size: 25px;
}

input{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5    px;
}





