body{
    color: var(--gray);
    background-color: var(--primary);
}
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 480px;
}
.containerMeio{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.main{
    display: flex;
    align-items: center;
    height: 100vh;
}
.meio{
    display: flex;
    justify-content: center;
}
.form{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.button{
    height: 3em;
    background-color: var(--white);
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    min-width: 120px;
}
/*DETALHES*/
h1{
    color: var(--white);
}

/*Aplica para todos os input porem os inputs que são submit nao se aplica*/
input:not(input[type="submit"]){
    outline: none;
    border-radius: 0.4rem;
    height: 2.3em;
    padding: 0.5em;
    border: 2px solid var(--primaryVariant);
    }
    .mensagemErro{
    align-self: center;
    color: var(--red);
    }

.insira{
    font-size: 50px;
}
