*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    color: white;
    background-color:black;
}
form{
    display: flex;
    flex-direction: column;
}