body{
    color: var(--black);
    background-color: var(--gray2);
}
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 480px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 3em;
    background-color: var(--primary);
}
.header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    color: var(--darkGreen);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.form h2{
    font-size: 1.6em;
}
.button{
    height: 3em;
    background-color: var(--green);
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    min-width: 120px;
}
.button-header{
    height: 2em;
    background-color: var(--primaryVariant);
}
input{
    border-radius: 3px;
}
/*DETALHES*/
h1{
    color: var(--white);
}