body{
    color: var(--black);
    background-color: var(--gray2);
    font-size: 1em;
}
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 480px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 3em;
    color: var(--white);
    background-color: var(--primary);
}
.header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    color: var(--darkGreen);
}

select, input:not(input[type="submit"]){
    outline: none;

    border-radius: 0.4rem;
    height: 2.5em;
    padding: 0.5em;
    border: 2px solid var(--primaryVariant);
}
textarea{
    resize: none;
    border-radius: 0.4rem;
    border: 2px solid var(--primaryVariant);

    padding: 0.5em;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.3em;

    
}
.form h2{
    font-size: 1.6em;
}
.button{
    height: 3em;
    background-color: var(--green);
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    min-width: 120px;
}
.button-header{
    height: 2em;
    background-color: var(--primaryVariant);
}
input{
    border-radius: 3px;
}
/*DETALHES*/
