@import url("../../globalStyles.css");
@import url("../../reset.css");

body{
    color: var(--white);
    background-color: var(--gray);
}

.container{
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 80px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem 0 3rem;
    align-items: center;
}

.logo,
.user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    font-size: 150%;
    font-weight: 900;
}

.user{
    gap: .5rem;
    position: relative;
}

.user > p{
    font-size: 120%;
}
.user:hover{
    cursor: pointer;
}
.user-opt{
    display: none;
    flex-direction: column;
    position: absolute;
    right: -30px;
    top: 27px;
    background-color: var(--green);
    box-shadow: 0 0 10px var(--blackOpacity);
    padding: 15px 10px;
    border-radius: 10px;
    width: 150px;    
}

.user-opt > a{
    text-decoration: none;
    color: var(--white);
    margin-bottom: 7px;
}

.user-opt :last-child{
    margin: 0;
}

.main-content{
    padding: 80px 4rem 4rem 4rem;
}

.order-list{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.not-found{
    color: var(--primaryVariant);
}

.order{
    /* width: fit-content; */

    width: 285px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    color: var(--black);
    gap: .8rem;
    border-radius: .6rem;
    border: 2px solid var(--primaryVariant);
    box-shadow: 0 0 8px var(--blackOpacity);
    
}
.order a{
    text-decoration: none;
    color: var(--white);
}

.order-type{
    display: flex;
    background-color:var(--gray2);
    padding: 7px;
    border-radius: 15px;
    width: fit-content;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}
.order-type > p{
    text-transform: capitalize;
}

.order-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .4rem;
}

.order-header{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: .3rem;
}

.order-header > h2{
    font-size: 130%;
    font-weight: bold;
    text-transform: capitalize;
}

.order-content > a{
    display: flex;
    align-items: center;
    color: var(--green);
    font-weight: 600;
    text-decoration: underline;
    margin-top: .3rem;
}


.order-content > a::before{
    content: "+";
}

.responsible{
    padding: .3rem 0;
}


.ball{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#ball-aluno{
    background-color: var(--blue);
}
#ball-visitante{
    background-color: var(--red);
}
#ball-servidor{
    background-color: var(--yellow);
}

.order-btn{
    background-color: var(--green);
    margin-top: .7rem;
    padding: .35rem;
    text-align: center;
    border-radius: 8px;
    color: var(--white);
}

.order-btn:hover{
    cursor: pointer;
    background-color: var(--darkGreen);
}


.modal{
    color: var(--black);
}

.modal-title{
    font-size: 120%;
    font-weight: 600;
    margin-bottom:1rem ;
}

.displayed{
    display: flex;
}

.disabled{
    background-color: gray;
}
.disabled:hover{
    background-color: gray;
}

.opt-btns{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.opt-btns > .confirm-btn > form > input[type='submit']{
    background-color: green;
    border: none;
    padding: .5rem;
    border-radius: .4rem;
    font-size: 100%;
    color: white;
}
.opt-btns > .cancel-btn > a{
    background-color: red;
    border-radius: .4rem;
    padding: .5rem;
    font-size: 100%;
    color: white;
}

.opt-btns > .confirm-btn > form > input[type='submit']:hover,
.opt-btns > .cancel-btn > a:hover{
    cursor: pointer;
}

@media screen and (max-width: 425px){
    .user > p{
        display: none;
    }

    .order{
        width: 285px;
    }
}
