.questions {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 15%;
}
.questions .card-question {
    background-color: #f0f0f0;
    padding: 20px 20px 4px 20px;
    border: 2px solid #3CC47C;
    border-radius: 8px;
}
.questions .card-question .category,
.questions .card-question .description {
    color: #090909;
}
.questions .card-question .category {
    font-weight: bold;
    opacity: 0.8;
    padding-bottom: 12px;
}
.questions .card-question .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.questions .card-question .actions-question {
    display: flex;
    justify-content: right;
    column-gap: 12px;
    padding: 12px 0;
}
.questions .card-question .actions-question a {
    text-decoration: none;
    color: #fff;
    background-color: #104228;
    font-size: 15px;
    border-radius: 8px;
    padding: 10px 20px;
}
.questions .card-question .actions-question a:hover {
    background-color: #165735;
}
.questions .card-question .actions-question a.remove-question {
    background-color: #7a2222;
}
.questions .card-question .actions-question a.remove-question:hover {
    background-color: #d75b5b;
}
textarea.enunciado {
    box-sizing: border-box;
    border: 1px solid #3CC47C;
    border-radius: 8px;
    width: 100%;
    resize: vertical;
    padding: 5px;
    font-size: 14px;
    font-family: "Mulish", sans-serif;
}
form.card-question {
    width: 400px;
}